// Colores
$primary-color: gray;
$secondary-color: whitesmoke;

$primary-color-btn: #165d6d;
$secondary-color-btn: #c1a882;

// Fuentes
$font-family: 'Arial', sans-serif;

// Otros valores
$border-radius: 5px;
